@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Satisfy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F7F5F2;
}

.font-premium {
    font-family: 'Satisfy', cursive;
}

.yarl__container {
    background-color: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(8px) !important;
}